*{
    padding: 0;
    margin: 0;
}
.box{
    display: flex;
    width: 100%;
    height: 800px;
}
.box1{
    width: 25%;
    height: 100%;
    background: aquamarine;
}
.box1 span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid #f00;
    border-top: 2px solid #f00;
    transform: rotate(-45deg);
    margin: 100px;
    transition: all .5s;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition: all .5s;
    -ms-transition:all .5s;
}
.box .sp{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
}
.box2{
    width: 50%;
    height: 100%;
    background: aqua;
}
.box3{
    width: 25%;
    height: 100%;
    background: #ff0;
}